/* padding margin and box-sizing for every el */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN PAGE AND SITE WIDE CHANGES */

/* site-wide changes */
body {
    background-color: rgb(200, 168, 101);
    color: black;
    font-family:'Times New Roman', Times, serif;
}

/* styling, positioning, and padding for content in the body */
#wrapper {
    background-color: antiquewhite;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header changes */
header {
    background-color: rgb(200, 168, 101);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    width: 100%;
}

/* unclicked <a> tag color */
a:link {
    color: green;
}

/* clicked <a> tag color */
a:visited {
    color: rgb(41, 48, 105);
}

/* <a> tag hover changes */
a:hover {
    color: rgb(0, 187, 177);
    text-decoration: none;
}

/*
nav bar font and color changes
turn nav bar into grid container - currently 2 items
*/
.nav-gridcontainer {
    font-weight: bold;
    text-align: center;
    color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* nav-grid item changes */
.nav-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 221, 103);
}
.nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 221, 103);
}

/* padding and text-align for content header */
.title-flex {
    text-align: right;
    padding-right: 10px;
}

/* changes text color and italicizes all h2 elements */
h2 {
    color: rgb(33, 90, 51);
    font-style: italic;
}

/* applies grid-container to content in me flex item on home page */
.about-me-flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

/* changes grid items in about-me grid-container
about-me-1 is title element */
.about-me-1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px
}

.about-me-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
}

/* changes text color and italicizes all h3 elements */
h3 {
    color: rgb(33, 90, 51);
    font-style: italic;
}

/* turn hobbies flex-item into grid-container */
.hobby-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;

    padding-top: 10px;
    gap: 15px;
}

/* positions and applies styling to each grid element
hobby-1 is title element */
.hobby-1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;

    grid-row: 1/2;
    grid-column: 1/4;
}

.hobby-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 2/3;
    grid-column: 1/2;
}

.hobby-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 2/3;
    grid-column: 2/3;
}

.hobby-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 2/3;
    grid-column: 3/4;
}

/* border for images that blends with background */
img {
    border: 1px solid rgb(200, 168, 101);
}

/* turn interests flex-item into grid container */
.interests-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;

    padding-top: 10px;
    gap: 15px;
}

/* positions and applies styling to each interests element
interests-1 is title element */
.interests-1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;

    grid-row: 1/2;
    grid-column: 1/3;
}

.interests-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 2/3;
    grid-column: 1/2;
}

.interests-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 2/3;
    grid-column: 2/3;
}

/* color and font changes to footer
applies grid container to footer flex-item element */
footer {
    background-color: rgb(195, 221, 103);
    font-size: 0.6em;
    font-style: italic;

    /* position: fixed;
    left: 0;
    bottom: 0; */
    border-top: solid;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

/* reposition and realign text in each footer grid-item */
.contact-info {
    padding-left: 5px;

    grid-row: 1/3;
    grid-column: 1/2;
}

.copyright {
    display: flex;
    padding-right: 5px;
    
    grid-row: 1/2;
    grid-column: 2/3;
}

/* PROJECTS PAGE SPECIFIC CHANGES */

/* padding for h2 elements on project page */
.h2-projects {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

/* turn projects into a 3x2 grid */
.projects-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    /* width: 900px;
    height: 200px; */

    gap: 15px;
}

/* positions and applies styling to each projects item */
.projects-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 1/2;
    grid-column: 1/2;
}

.projects-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    grid-row: 2/3;
    grid-column: 1/2;
}

.projects-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 1/2;
    grid-column: 2/3;
}

.projects-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    grid-row: 2/3;
    grid-column: 2/3;
}

.projects-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(200, 168, 101);
    border: 1px solid black;

    grid-row: 1/2;
    grid-column: 3/4;
}

.projects-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    grid-row: 2/3;
    grid-column: 3/4;
}